<div class="customer register section-{{ section.id }}-padding">
  {%- form 'create_customer' -%}
    {%- liquid
      assign is_email_existed_err = false
      for field in form.errors
        if field == 'form' and form.errors.messages[field] contains 'email'
          assign is_email_existed_err = true
        endif
      endfor
    -%}

    <div class="pd-form-group pd-form-group--first-name">
      <label for="RegisterForm-FirstName" class="pd-form-label">
        {{ 'customer.register.first_name' | t }}
      </label>
      <input
        type="text"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        {% if form.first_name %}
          value="{{ form.first_name }}"
        {% endif %}
        class="pd-form-input"
        autocomplete="given-name"
        placeholder="{{ 'customer.register.first_name' | t }}"
      >
    </div>
    <div class="pd-form-group pd-form-group--last-name">
      <label for="RegisterForm-LastName" class="pd-form-label">
        {{ 'customer.register.last_name' | t }}
      </label>
      <input
        type="text"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        {% if form.last_name %}
          value="{{ form.last_name }}"
        {% endif %}
        class="pd-form-input"
        autocomplete="given-name"
        placeholder="{{ 'customer.register.last_name' | t }}"
      >
    </div>
    <div class="pd-form-group {% if form.errors contains 'email' or is_email_existed_err %}pd-form-group--error{% endif %}">
      <label for="RegisterForm-email" class="pd-form-label">
        {{ 'customer.register.email' | t }}
      </label>
      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        {% if form.email or is_email_existed_err %}
          value="{{ form.email }}"
        {% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-email-error"
        {% endif %}
        class="pd-form-input"
        placeholder="{{ 'customer.register.email' | t }}"
      >
      {%- if form.errors contains 'email' -%}
        <span id="RegisterForm-email-error" class="pd-form-note">
          {%- render 'icon.svg', type: 'error' -%}
          {{ form.errors.translated_fields.email | capitalize }}
          {{ form.errors.messages.email }}.
        </span>
      {%- endif -%}

      {%- if is_email_existed_err -%}
        {%- for field in form.errors -%}
          {%- if field == 'form' and form.errors.messages[field] contains 'email' -%}
            <span id="RegisterForm-email-error" class="pd-form-note">
              {%- render 'icon.svg', type: 'error' -%}
              {{ form.errors.messages[field] }}.
            </span>
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    </div>
    <div class="pd-form-group  {% if form.errors contains 'password' %}pd-form-group--error{% endif %}">
      <label for="RegisterForm-password" class="pd-form-label">
        {{ 'customer.register.password' | t }}
      </label>
      <input
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        aria-required="true"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-password-error"
        {% endif %}
        class="pd-form-input"
        placeholder="{{ 'customer.register.password' | t }}"
      >
      {%- if form.errors contains 'password' -%}
        <span id="RegisterForm-password-error" class="pd-form-note">
          {%- render 'icon.svg', type: 'error' -%}
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}.
        </span>
      {%- endif -%}
    </div>
    <div class="pd-form-group">
      <label class="pd-form-label">What brings you here?</label>
      <div class="pd-form-select">
        <select
          required
          placeholder="What Brings You Here?"
          type="text"
          name="customer[what_brings_you_here]"
          id="WhatBringsYouHere"
          {% if form.what_brings_you_here %}
            value="{{ form.what_brings_you_here }}"
          {% endif %}
          autocapitalize="words"
          autofocus
        >
          <option value="" disabled selected></option>
          <option value="parent">Parent</option>
          <option value="expecting">Expecting</option>
          <option value="gifting">Gifting</option>
        </select>
        {% render 'icon.svg', type: 'chevron-down' %}
      </div>
      <span class="pd-form-note">
        Help us send you only the most relevant info personalised to where you're at in your pregnancy or parenting
        journey.
      </span>
    </div>

    <div class="pd-form-panel" style="background: none; padding: 0">
      <button type="submit" class="pd-button pd-button--lively-blue">Create account</button>
    </div>

    <div class="pd-form-group">
      <p class="description form-sign-in-trigger">
        Already have an account?&nbsp;<span class="sign-in-trigger">Sign in</span>
      </p>
    </div>

    <div class="pd-form-group">
      <span class="pd-form-note"
        >By signing up you agree to receive marketing communications & accept our
        <a href="/pages/terms-of-use">Terms and Conditions.</a></span
      >
    </div>
  {%- endform -%}
</div>
