<div class="feel-good-club-order-history">
  {% if customer.orders.size != 0 %}
    {% paginate customer.orders by 10 %}
      <div class="customer order-history">
        <div class="pd-container-with-scrollbar pd-container-with-scrollbar--movile">
          <table class="table--responsive table--small-text">
            <thead>
              <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Payment</th>
                <th>Fulfilment</th>
                <th>Total</th>
                <th>Tracking ID</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr class="table__section">
                  <td data-label="Order">
                    {{ order.name | link_to: order.customer_url }}
                  </td>
                  <td>{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td>{{ order.financial_status_label }}</td>
                  <td>{{ order.fulfillment_status_label }}</td>
                  <td>{{ order.total_price | money }}</td>
                  <td>
                    {% for line_item in order.line_items %}
                      {% if forloop.first == true %}
                        <a href="{{ line_item.fulfillment.tracking_url }}" target="_blank">
                          {{- line_item.fulfillment.tracking_number -}}
                        </a>
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% if paginate.pages > 1 %}
          {% render 'pagination', paginate: paginate %}
        {% endif %}
      </div>
    {%- endpaginate -%}
  {% else %}
    <p>{{ 'customer.orders.none' | t }}</p>
  {% endif %}
</div>
