<div id="recover">
  <h2 tabindex="-1">
    {{ 'customer.recover_password.title' | t }}
  </h2>
  <div>
    <p>
      {{ 'customer.recover_password.subtext' | t }}
    </p>
  </div>
  {%- form 'recover_customer_password' -%}
    {%- liquid
      assign is_form_error = false

      if form.errors
        assign is_form_error = true
      endif
    -%}
    {% assign recover_success = form.posted_successfully? %}
    <div class="pd-form-group {% if is_form_error %}pd-form-group--error{% endif %}">
      <label for="RecoverEmail" class="pd-form-label">
        {{ 'customer.login_page.email' | t }}
      </label>
      <input
        type="email"
        value=""
        name="email"
        id="RecoverEmail"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="email"
        {% if form.errors %}
          aria-invalid="true"
          aria-describedby="RecoverEmail-email-error"
          autofocus
        {% endif %}
        class="pd-form-input"
        placeholder="{{ 'customer.login_page.email' | t }}"
      >
      {%- if form.errors -%}
        <span id="RecoverEmail-email-error" class="pd-form-note">
          {%- render 'icon.svg', type: 'error' -%}
          {{ form.errors.messages.form }}
        </span>
      {%- endif -%}
    </div>

    <div class="pd-form-group">
      <button class="pd-button pd-button--lively-blue">
        {{ 'customer.login_page.submit' | t }}
      </button>
    </div>

    <div class="pd-form-group">
      <a href="#login" class="pd-button pd-button--bold-coral">
        {{ 'customer.login_page.cancel' | t }}
      </a>
    </div>
  {%- endform -%}
</div>
