<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {% render 'elevar-head' %}
    {% render 'checkout-app-script' %}

    {{ content_for_header }}
    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>

  <body>
    {% render 'checkout-style' %}
    {% assign is_registry_order = false %}
    {% for line_item in checkout.line_items %}
      {% if line_item.properties["_registry"] != blank %}
        {% assign is_registry_order = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    <div data-loading-state class="loading-state">{% render 'pd-icon.svg', type: 'spinner' %}</div>

    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            <div data-express-checkout style="display: none">
              {% unless is_registry_order %}
                {% render 'express-checkout' %}
              {% endunless %}
            </div>
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    {% render 'okendo-reviews-json-ld' %}
    {% render 'elevar-checkout-end' %}
    {% render 'checkout-site-script' %}
  </body>
</html>
