{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    background-color: {{ section.settings.background_color }}
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% liquid
  if blog
    assign default_blog = blog
  else
    assign default_blog = section.blocks[0].settings.selected_blog
  endif
%}

<div id="{{ section.settings.section_id }}" class="pd-banner-blog-search section-{{ section.id }} section-{{ section.id }}-padding">
  <div class="page-width">
    {% if section.settings.show_breadcrumbs %}
      {% render 'breadcrumbs' %}
    {% endif %}
    <div class="pd-banner-blog-search__wrapper">
      {% if section.settings.heading %}
        <h2 class="pd-banner-blog-search__heading">{{ section.settings.heading }} </h2>
      {% endif %}
      <div class="pd-banner-blog-search__content">
        <div class="pd-banner-blog-search__description">
          {{ section.settings.description }}
        </div>
        <div class="pd-banner-blog-search__form">
          {% if section.settings.decoration_image %}
            <div class="pd-banner-blog-search__decoration-image">
              {% render 'pd-image', image: section.settings.decoration_image %}
            </div>
          {% endif %}
          <div data-search-blog class="pd-banner-blog-search__form__wrapper">
            <div data-search-blog-blogs class="pd-banner-blog-search__form__item pd-banner-blog-search__form__item--blogs">
              <span
                data-search-blog-blogs-header
                data-url="{{ default_blog.url }}"
                class="pd-banner-blog-search__form__header"
              >
                <span class="text">{{ default_blog.title }}</span>
                <span class="icon">icon</span>
              </span>
              <ul data-search-blog-blogs-list class="pd-banner-blog-search__form__list">
                {% for block in section.blocks %}
                  {% liquid
                    assign selected_blog = block.settings.selected_blog
                    assign tags = ''
                    for tag in selected_blog.all_tags
                      assign tag_handle = tag | downcase | replace: ' ', '-' | replace: ':', '-' | replace: "'", ""
                      assign tags = tags | append: tag_handle | append: '|'
                    endfor
                  %}
                  <li
                    data-search-blog-blogs-item
                    data-tags="{{ tags }}"
                    data-url="{{ selected_blog.url }}"
                  >
                    {{ selected_blog.title }}
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div data-search-blog-tags class="pd-banner-blog-search__form__item pd-banner-blog-search__form__item--tags">
              <span data-search-blog-tags-header class="pd-banner-blog-search__form__header">
                I want to learn about
                <span class="icon">icon</span>
              </span>
              <div data-search-blog-tags-list class="pd-banner-blog-search__form__list">
                <ul>
                  {% for tag in default_blog.all_tags %}
                    {% assign tag_handle = tag | downcase | replace: ' ', '-' | replace: ':', '-' | replace: "'", "" %}
                    <li data-handle="{{ tag_handle }}" data-search-blog-tags-item>
                      <input
                        type="checkbox"
                        id="{{ tag_handle }}"
                        value="{{ tag_handle }}"
                        {% if current_tags contains tag %} checked{% endif %}
                      >
                      <label for="{{ tag_handle }}">{{ tag }}</label>
                    </li>
                  {% endfor %}
                </ul>
                <div class="buttons">
                    <button data-apply-options class="pd-button pd-button--bold-coral">APLLY</button>
                    <span data-clear-options>CLEAR ALL</span>
                  </div>
              </div>
            </div>
            <a
              href="{{ default_blog.url }}"
              data-search-blog-button
              class="pd-button pd-button--full-width pd-button--bold-coral pd-banner-blog-search__submit"
            >
              SEARCH
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner search blog",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section id",
      "default": "search-form"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#F0EDFF"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "label": "Show breadcrumbs",
      "default": false
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "decoration_image",
      "label": "Decoration image",
      "info": "Dimention: 275 x 175"
    },

    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "blog",
      "name": "Blog",
      "settings": [
        {
          "type": "blog",
          "id": "selected_blog",
          "label": "Selected blog"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner search blog"
    }
  ]
}
{% endschema %}
